# 6.1: Sourcing Open Data

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
df = pd.read_csv(r'C:\Users\Brichaelle\Flavors of Cocoa\Data\original data\flavors_of_cacao.csv', index_col = False)

In [3]:
path = r'C:\Users\Brichaelle\Flavors of Cocoa'

In [4]:
df = pd.read_csv(os.path.join(path, 'Data', 'original data', 'flavors_of_cacao.csv'), index_col = False)

In [5]:
# Identifying Characteristics of Table
df.head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [6]:
df.columns

Index(['Company (Maker-if known)', 'Specific Bean Origin or Bar Name', 'REF',
       'Review Date', 'Cocoa Percent', 'Company Location', 'Rating',
       'Bean Type', 'Broad Bean Origin'],
      dtype='object')

In [7]:
df.shape

(1795, 9)

In [8]:
# Descriptive Statistical Analysis
df.describe()

               REF  Review Date       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [9]:
df.dtypes

Company (Maker-if known)             object
Specific Bean Origin or Bar Name     object
REF                                   int64
Review Date                           int64
Cocoa Percent                        object
Company Location                     object
Rating                              float64
Bean Type                            object
Broad Bean Origin                    object
dtype: object

### Mixed-type Data

#### Finding

In [10]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

Bean Type
Broad Bean Origin

In [11]:
type ('Bean Type')

str

In [12]:
type('Broad Bean Origin')

str

#### Resolving

In [13]:
df['Bean Type'] = df['Bean Type'].astype('str')

In [14]:
df['Broad Bean Origin'] = df['Broad Bean Origin'].astype('str')

### Missing Values

In [15]:
df.isnull().sum()

Company (Maker-if known)            0
Specific Bean Origin or Bar Name    0
REF                                 0
Review Date                         0
Cocoa Percent                       0
Company Location                    0
Rating                              0
Bean Type                           0
Broad Bean Origin                   0
dtype: int64

##### There are no missing values

### Duplicates

In [16]:
df_dups = df[df.duplicated()]

##### There are no duplicate values

## Exporting

In [ ]:
df.to_csv(os.path.join(path, 'Data','prepared data', '.csv'))